body{
    display: flex;
}

h1{
    font-family: 'Girassol', cursive;
}

#marienbad-top{
    width: -webkit-fill-available;
    text-align: center;
}

#matches-top{
    display: inherit;
    flex-direction: column;
    justify-content: center;
}

.match-row{
    display: inherit;
    flex-direction: row;
    justify-content: space-evenly;
}

.match{
    display: inline-block;
    background: url(./SVGs/Asset\ 6.svg) no-repeat;
    width: 30px;
    height: 100px;
    margin: 0;
}

.match:hover{
    cursor: pointer;
}

.selected{
    background: white;
}